@media (max-width:600px){
    .nav{
        background-color: lightseagreen;
        color: #fff;
        height: 60px;
        padding: 0 5vw;
        box-sizing: border-box;
    }

    .nleft{
        background-color: lightseagreen;
    }

    .nleft img{
        height: auto;
        width: 140px;
    }

    .nright a{
        display: none;
    }
    .nright i{
        display: block;
        font-weight: 800;
        font-size: 20px;
    }

    .page2{
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: 100%;
    }
    .font2{
        text-align: justify;
    }

    .mleft{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: black;
        height: 100px;
        width: 100%;
    }

    .moin {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
        padding: 30px;
        height: auto;
        }

    .mleft img{
        height: 100px;
        width:auto;

    }

    p.hero1{
        height: 100px;
        width: 370px;
    }

    .mrirht{
        display: flex;
        /* margin: 0;
        padding: 0; */
        height: 500px;
        width: auto;
        padding: 0;
        padding-top: 0%;
        
    }


    div.pleft2{
        padding: 0;
    }


     div.page2{
        padding: 0;
    }


    .page2 p{
        display: flex;
        align-items: start;
        justify-content: start;
        height: 140px;
        width: 450px;
        padding: 30px;
    }

    .pleft2{
        display: flex;
        justify-content: center;
        padding-top: 49px;
        height: auto;
        width:auto;
    }

    .page2 img{
        height: 250px;
        width: 400px;
        padding-left: 5%;
        padding-top: 0%;
    }

    p.font1{
        height: 50px;
        width: 360px;
        padding: 20px 0;
        padding-bottom: 0px;
        padding-left: 30px;
        /* padding-bottom: -20px; */
    }

    p.font2{
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
        height: 230px;
        width: 400px;
        /* background-color: aqua; */
        text-align: center;
        text-align: left;
        /* box-sizing: border-box; */
    }

    p.on{
        height: 10px;
        width: 400px;
    }

    .page3{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-left: 5%;
    }

    .page2{
        padding: 30px;
    }

    .bo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mo img{
        height: 300px;
        width: auto;
        padding: 20px;
    }

    .main{
        display: flex;
        flex-direction: column;
    }

    .box6{
        height: 100px;
    }

    .lmain .c1{
        height: 250px;
        width: 400px;
        padding-left: 0%;
    }
    
    p.moin6{
        padding-top: 20%;
    }

    div.page3{
        padding-bottom: 0%;
    }
    
    div.box5{
        padding-left: 5%;
    }

    .mleft{
        background-color: rgb(23, 22, 23);
    }
}
