*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    width: 100%;
    box-sizing: border-box;
    padding-right: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nleft ,.nright{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nleft{
    width: 37.5%;
    background-color: rgb(73, 72, 72);
}

.nleft a,
.nright a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    transition: all .5s;
}

.nleft img{
    height: 70%;
    width: 50%;
    padding-left:7%;
    padding-top: 10%;
}

.nav a:hover {
    color: rgb(43, 226, 128);
}


.banner1{
    background-color: black;
    height: 85vh;
    width: auto;
}

.bcenter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(43, 226, 128);
}

.bcenter2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.bcenter p{
    color: #fff;
    height: 20%;
    width: 30%;
    bottom: 10vh;

}

.bleft{
    background-color: rgb(73, 72, 72);
    height: 100%;
    width: 36%;
}

  